.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 4rem #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem 0rem;
}

@media (max-width: 668px) {
  .glass {
    width: 90%;
  }
}

@media (min-width: 669px) and (max-width: 1024px) {
  .glass {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .glass {
    width: 40%;
  }
}

input[type='file']{
  display: none;
}